body{
 background-color: rgb(20, 185, 185);
}
.form-bag{
 padding-top: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.container{
 width: 900px;
 margin: 0 auto;
 padding: 0 20px;
}

.distance__lable{
 margin-right: 10px;
 font-size: 25px;
 color: rgb(51, 30, 145);
}
.distance__input{
 margin-right: 10px;
 padding: 5px;
 border: none;
}
.distance__button{
 padding: 5px 25px;
 border: 2px solid rgb(255, 217, 0);
 background-color: #ffffff;
 color: rgb(255, 196, 0);
}

.raw{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.wolk-heading{
 color: rgb(0, 0, 0);
 text-align: center;
 margin: 0;
 padding: 40px 0;

}
.rounded{
 margin-top: 20px;
 background-color: rgb(209, 148, 35);
 border-radius: 10px;
}
img{
 padding: 20px 50px;
 display: block;
 margin: 0 auto;
}

.result-walk{
 text-align: center;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-right: 19px;
 color: rgb(5, 50, 255);
}
.result-bike{
 text-align: center;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-right: 19px;
 color: rgb(5, 50, 255);
}
.result-car{
 text-align: center;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-right: 19px;
 color: rgb(5, 50, 255);
}
.result-plance{
 text-align: center;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-right: 19px;
 color: rgb(5, 50, 255);
}